<ion-header>
  <div routerLink='/home'>Home</div>
  <div routerLink='/booking'>Booking</div>
  <div routerLink='/services'>Shop</div>
  <div routerLink='/login'>Logout</div>
</ion-header>
<div class="background">
<div class="container">
  <div class="title">Ger's Garage</div>
  <div class="media-container">
  <div class="first-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vel eros donec ac odio tempor orci dapibus ultrices in. Metus aliquam eleifend mi in nulla posuere. Neque viverra justo nec ultrices dui sapien eget mi. Sed nisi lacus sed viverra tellus in hac. Nisi vitae suscipit tellus mauris a diam maecenas sed. Commodo ullamcorper a lacus vestibulum sed arcu non odio euismod. Turpis cursus in hac habitasse platea dictumst. At risus viverra adipiscing at in tellus integer. Erat velit scelerisque in dictum non. Risus ultricies tristique nulla aliquet enim tortor at auctor urna. Condimentum mattis pellentesque id nibh. In fermentum posuere urna nec tincidunt praesent semper feugiat. Vitae justo eget magna fermentum iaculis. Commodo nulla facilisi nullam vehicula ipsum a arcu cursus. Posuere lorem ipsum dolor sit amet consectetur adipiscing.</div>
    <img class="title-img" src="https://wallpaperaccess.com/full/40430.jpg"/>
</div>
<div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vel eros donec ac odio tempor orci dapibus ultrices in. Metus aliquam eleifend mi in nulla posuere. Neque viverra justo nec ultrices dui sapien eget mi. Sed nisi lacus sed viverra tellus in hac. Nisi vitae suscipit tellus mauris a diam maecenas sed. Commodo ullamcorper a lacus vestibulum sed arcu non odio euismod. Turpis cursus in hac habitasse platea dictumst. At risus viverra adipiscing at in tellus integer. Erat velit scelerisque in dictum non. Risus ultricies tristique nulla aliquet enim tortor at auctor urna. Condimentum mattis pellentesque id nibh. In fermentum posuere urna nec tincidunt praesent semper feugiat. Vitae justo eget magna fermentum iaculis. Commodo nulla facilisi nullam vehicula ipsum a arcu cursus. Posuere lorem ipsum dolor sit amet consectetur adipiscing.  </div>
</div>
</div>