<ion-header>
  <div routerLink='/home'>Home</div>
  <div routerLink='/booking'>Booking</div>
  <div routerLink='/services'>Shop</div>
  <div routerLink='/login'>Logout</div>
</ion-header>
<div class="background">
<div class="container">
  <div class="title">Shop</div>
  <div class="service-list">
    <div class="service-card" *ngFor="let service of services">
      <div>Name: {{service.partname}}</div>
      <div>Cost: {{service.cost}}</div>
      <ion-button (click)="purchase(service.cost)">Buy</ion-button>
    </div>
  </div>
</div>
</div>
<!--tipo, data mecanico, customer(logado), progresso (hardcoded), custo(hardcoded)-->