@font-face{
    font-family:'Milestone';
    src:url('../../assets/milestone.woff')
}

ion-header{
    height: 7.5vh;
    background-color: rgb(172, 0, 0);
    color: wheat;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ion-header div{
    text-shadow: 2px 2px  black; 
    display: flex;
    justify-content: center;
    align-items: center;
   width: 20%;
   height: 80%;
   border: 2px solid wheat;
   border-radius: 5px;
   font-size: 36px; 
   font-family: 'Milestone';
   transition: transform 0.5s, background-color 0.5s ;
    
}
ion-header div:hover{
    background-color: rgb(85, 173, 255);
    transform: scale(1.1);
    cursor: pointer;
    transition: transform 0.5s, background-color 0.5s;
}
.background{
    background-image: url('https://www.watchonista.com/sites/default/files/watchographer/17860/paragraphs/480615/pictures/zelectricbugs-vintage-vw-beetles-made-electric-1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
.container{
    display: flex;
    position: relative;
    height: 100%;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.678);
    flex-direction: column;
}
.title{
    display: flex;
    font-size: 48px;
    align-self: center;
    font-family: 'Milestone';
    text-shadow: 4px 4px  black; 
    color: wheat;
}
.mechanic-list{
    height: 500px;
    overflow-y: scroll;
    border-left: 2px solid wheat;
    border-top: 2px solid wheat;
    border-bottom:2px solid wheat;
    border-radius: 20px 5px 5px 20px;
    width: 60%;
    align-self: center;
}
.mechanic-card{
    background-color: rgb(146, 0, 0);
    display: flex;
    margin: 2%;
    height: 20%;
    border: 2px solid wheat;
    border-radius: 5px;
    justify-content: space-around;
    align-items: center;
    color: wheat;
}
.mechanic-list::-webkit-scrollbar {
    width: 10px;

  }
  
  /* Track */
  .mechanic-list::-webkit-scrollbar-track {
    background: wheat;
    border-radius: 5px;

  }
  
  /* Handle */
  .mechanic-list::-webkit-scrollbar-thumb {
    background: rgb(136, 0, 0);
    border-radius: 5px;

  }
  
  /* Handle on hover */
  .mechanic-list::-webkit-scrollbar-thumb:hover {
    background: #555;}

ion-button{
    --background:wheat;
    --color: rgb(136, 0, 0);
    text-shadow: 4px 4px  black; 
}
.new-mechanic{
    margin-top: 20px;
    align-self: center;
    background-color:  rgb(136, 0, 0);
    text-shadow: 2px 2px  black; 
    display: flex;
    justify-content: center;
    align-items: center;
   width: 20%;
   height: 10%;
   border: 2px solid wheat;
   border-radius: 5px;
   font-size: 36px; 
   font-family: 'Milestone';
   color: wheat;
   transition: transform 0.5s, background-color 0.5s ;
}
.new-mechanic:hover{
    background-color: rgb(85, 173, 255);
    transform: scale(1.1);
    cursor: pointer;
    transition: transform 0.5s, background-color 0.5s;
}